html {
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column; /* Organiza los elementos verticalmente */
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #0c0c0c;
  overflow: hidden;
}

.board {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 columnas */
  gap: 10px; /* Espacio entre celdas */
  margin-top: 20px;
  width: 80vw;
  max-width: 512px;
  /* Tablero máximo de 512px de ancho */
  height: calc(80vw * 0.8);
  /* Mantiene la proporción de 512x410 (aproximadamente) */
  max-height: calc(512px * 0.8);
  /* Altura máxima de 80% del ancho */
  background-image: url('./Tablero/Tablero1.png');
  background-size: cover;
  position: relative;
  transform-style: preserve-3d;
  transform: perspective(600px) rotateX(37deg);
  /* Perspectiva y rotación aplicadas juntas */
  position: relative;
  border: 3px solid #2be2e9;
  z-index: 1; /* Un z-index más bajo que el de las cartas */
}

.coverA {
  position: absolute;
  width: 2.3rem;
  height: 3.5rem;
  background-image: url('./Carta/Carta1.png');
  background-size: cover;
  transition: all 0.5s ease;
  top: 8px;
  left: 63.6px;
}

.coverB {
  position: absolute;
  width: 2.3rem;
  height: 3.5rem;
  background-image: url('./Carta/Carta1.png');
  background-size: cover;
  transition: all 0.5s ease;
  top: 346px;
  left: 407px;
}

/* Colocar una carta monstruo boca abajo*/
#setm {
  top: 42px;
  left: 120px;
  width: 3rem;
  height: 3.5rem;
  position: absolute;
}

/* Colocar un monstruo en atk*/
#atk {
  top: 42px;
  left: 120px;
  width: 3rem;
  height: 3.5rem;
  position: absolute;
}

/* La celda A es para magias y trampas "Player A"*/
#a1 {
  top: 42px;
  left: 120px;
  width: 3rem;
  height: 3.5rem;
  position: absolute;
}

#a2 {
  top: 42px;
  left: 175px;
  width: 3rem;
  height: 3.5rem;
  position: absolute;
}

#a3 {
  top: 42px;
  left: 230px;
  width: 3rem;
  height: 3.5rem;
  position: absolute;
}

#a4 {
  top: 42px;
  left: 285px;
  width: 3rem;
  height: 3.5rem;
  position: absolute;
}

#a5 {
  top: 42px;
  left: 340px;
  width: 3rem;
  height: 3.5rem;
  position: absolute;
}

/* La celda B es para Monstruos "Player A"*/
#b1 {
  top: 105px;
  left: 120px;
  width: 3rem;
  height: 3.5rem;
  position: absolute;
}

#b2 {
  top: 105px;
  left: 175px;
  width: 3rem;
  height: 3.5rem;
  position: absolute;
}

#b3 {
  top: 105px;
  left: 230px;
  width: 3rem;
  height: 3.5rem;
  position: absolute;
}

#b4 {
  top: 105px;
  left: 285px;
  width: 3rem;
  height: 3.5rem;
  position: absolute;
}

#b5 {
  top: 105px;
  left: 340px;
  width: 3rem;
  height: 3.5rem;
  position: absolute;
}

/* La celda C es para magias y trampas "Player B"*/
#c1 {
  top: 310px;
  left: 120px;
  width: 3rem;
  height: 3.5rem;
  position: absolute;
}

#c2 {
  top: 310px;
  left: 175px;
  width: 3rem;
  height: 3.5rem;
  position: absolute;
}

#c3 {
  top: 310px;
  left: 230px;
  width: 3rem;
  height: 3.5rem;
  position: absolute;
}

#c4 {
  top: 310px;
  left: 285px;
  width: 3rem;
  height: 3.5rem;
  position: absolute;
}

#c5 {
  top: 310px;
  left: 340px;
  width: 3rem;
  height: 3.5rem;
  position: absolute;
}

/* La celda D es para Monstruos "Player B"*/
#d1 {
  top: 248px;
  left: 120px;
  width: 3rem;
  height: 3.5rem;
  position: absolute;
}

#d2 {
  top: 248px;
  left: 175px;
  width: 3rem;
  height: 3.5rem;
  position: absolute;
}

#d3 {
  top: 248px;
  left: 230px;
  width: 3rem;
  height: 3.5rem;
  position: absolute;
}

#d4 {
  top: 248px;
  left: 285px;
  width: 3rem;
  height: 3.5rem;
  position: absolute;
}

#d5 {
  top: 248px;
  left: 340px;
  width: 3rem;
  height: 3.5rem;
  position: absolute;
}

.card-row {
  display: flex;
  justify-content: center;
  /*margin: 75px 0;*/
  margin-bottom: 1rem;
}

.card-holder-player1 {
  display: flex;
  justify-content: center;
  z-index: 2; /* Un z-index más alto para que las cartas aparezcan por encima del tablero */
  width: 241px; /* o el tamaño deseado para las cartas */
  height: 70px; /* o el tamaño deseado para las cartas */
  background-size: cover;
  margin: 0 2px; /* Espacio entre cartas */
}

.card-holder-player2 {
  display: flex;
  justify-content: center;
  z-index: 2; /* Un z-index más alto para que las cartas aparezcan por encima del tablero */
  width: 345px; /* o el tamaño deseado para las cartas */
  height: 70px; /* o el tamaño deseado para las cartas */
  background-size: cover;
  margin: 0 2px; /* Espacio entre cartas */
}

.card {
  width: 30px;
  height: 60px;
  background-size: cover;
  background-position: center;
  margin: 1px;
  border-radius: 3px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ccc;
  transition: transform 0.5s cubic-bezier(0.22, 1, 0.36, 1), top 0.5s cubic-bezier(0.22, 1, 0.36, 1), left 0.5s cubic-bezier(0.22, 1, 0.36, 1); /* Añade una transición suave */
  will-change: transform, top, left; /* Optimiza las propiedades que van a cambiar */
  border: 1.5px solid #f3efef;
  z-index: 2; /* Un z-index más alto para que las cartas aparezcan por encima del tablero */
}

.card.moving {
    transition-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3); /* Sombra para efecto de elevación */
}

.player1 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.player2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 100;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell {
  width: 100px; /* Tamaño de cada celda */
  height: 100px; /* Tamaño de cada celda */
  border: 1px solid #ddd; /* Borde para las celdas */
}

button {
  margin-top: 0px; /* Espacio encima de los botones */
}

#buttonContainer {
  display: flex;
  justify-content: center; /* Centra los botones horizontalmente */
  width: 100%; /* Asume todo el ancho disponible */
  flex-direction: column; /* Organiza los botones verticalmente */
  align-items: center; /* Centra los botones */
  position: absolute;
  top: 20px; /* Posición desde la parte superior de la ventana */
}