html {
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0; 
  padding: 0;
  background-color: #0c0c0c;
  overflow: hidden; 
}

/* Establece un espacio en la parte superior del cuerpo */
body > * {
  margin-top: -20px; /* Espacio entre el borde superior y el contenido */
}

.board {
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  gap: 10px; 
  margin-top: 20px;
  width: 80vw; 
  max-width: 512px; 
  height: calc(80vw * 0.8); 
  max-height: 410px; 
  background-image: url('./Tablero/Tablero1.png');
  background-size: cover;
  transform-style: preserve-3d;
  transform: perspective(600px) rotateX(37deg);
  /* Perspectiva y rotación aplicadas juntas */
  position: absolute;
  border: 3px solid #2be2e9;
  z-index: 1; 
  margin: 0 auto; 
}

.coverA {
  position: absolute;
  width: 2.3rem;
  height: 3.5rem;
  background-image: url('./Carta/Carta1.png');
  background-size: cover;
  transition: all 0.5s ease;
  top: 8px;
  left: 63.6px;
}

.coverB {
  position: absolute;
  width: 2.3rem;
  height: 3.5rem;
  background-image: url('./Carta/Carta1.png');
  background-size: cover;
  transition: all 0.5s ease;
  top: 346px;
  left: 407px;
}

/* Colocar una carta monstruo boca abajo*/
#setm {
  top: 42px;
  left: 120px;
  width: 3rem;
  height: 3.5rem;
  position: absolute;
}

/* Colocar un monstruo en atk*/
#atk {
  top: 42px;
  left: 120px;
  width: 3rem;
  height: 3.5rem;
  position: absolute;
}

/* La celda A es para magias y trampas "Player A"*/
#a1 {
  top: 42px;
  left: 120px;
  width: 3rem;
  height: 3.5rem;
  position: absolute;
}

#a2 {
  top: 42px;
  left: 175px;
  width: 3rem;
  height: 3.5rem;
  position: absolute;
}

#a3 {
  top: 42px;
  left: 230px;
  width: 3rem;
  height: 3.5rem;
  position: absolute;
}

#a4 {
  top: 42px;
  left: 285px;
  width: 3rem;
  height: 3.5rem;
  position: absolute;
}

#a5 {
  top: 42px;
  left: 340px;
  width: 3rem;
  height: 3.5rem;
  position: absolute;
}

/* La celda B es para Monstruos "Player A"*/
#b1 {
  top: 105px;
  left: 120px;
  width: 3rem;
  height: 3.5rem;
  position: absolute;
}

#b2 {
  top: 105px;
  left: 175px;
  width: 3rem;
  height: 3.5rem;
  position: absolute;
}

#b3 {
  top: 105px;
  left: 230px;
  width: 3rem;
  height: 3.5rem;
  position: absolute;
}

#b4 {
  top: 105px;
  left: 285px;
  width: 3rem;
  height: 3.5rem;
  position: absolute;
}

#b5 {
  top: 105px;
  left: 340px;
  width: 3rem;
  height: 3.5rem;
  position: absolute;
}

/* La celda C es para magias y trampas "Player B"*/
#c1 {
  top: 310px;
  left: 120px;
  width: 3rem;
  height: 3.5rem;
  position: absolute;
}

#c2 {
  top: 310px;
  left: 175px;
  width: 3rem;
  height: 3.5rem;
  position: absolute;
}

#c3 {
  top: 310px;
  left: 230px;
  width: 3rem;
  height: 3.5rem;
  position: absolute;
}

#c4 {
  top: 310px;
  left: 285px;
  width: 3rem;
  height: 3.5rem;
  position: absolute;
}

#c5 {
  top: 310px;
  left: 340px;
  width: 3rem;
  height: 3.5rem;
  position: absolute;
}

/* La celda D es para Monstruos "Player B"*/
#d1 {
  top: 248px;
  left: 120px;
  width: 3rem;
  height: 3.5rem;
  position: absolute;
}

#d2 {
  top: 248px;
  left: 175px;
  width: 3rem;
  height: 3.5rem;
  position: absolute;
}

#d3 {
  top: 248px;
  left: 230px;
  width: 3rem;
  height: 3.5rem;
  position: absolute;
}

#d4 {
  top: 248px;
  left: 285px;
  width: 3rem;
  height: 3.5rem;
  position: absolute;
}

#d5 {
  top: 248px;
  left: 340px;
  width: 3rem;
  height: 3.5rem;
  position: absolute;
}

.card-row {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.card-holder-player1 {
  display: flex;
  justify-content: center;
  z-index: 2; 
  width: 241px; 
  height: 70px; 
  background-size: cover;
  margin: 0 2px; 
}

.card-holder-player2 {
  display: flex;
  justify-content: center;
  z-index: 2; 
  width: 345px; 
  height: 70px; 
  background-size: cover;
  margin: 0 2px; 
}

.card {
  width: 30px;
  height: 60px;
  background-size: cover;
  background-position: center;
  margin: 1px;
  border-radius: 3px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ccc;
  transition: transform 0.5s cubic-bezier(0.22, 1, 0.36, 1), top 0.5s cubic-bezier(0.22, 1, 0.36, 1), left 0.5s cubic-bezier(0.22, 1, 0.36, 1); 
  will-change: transform, top, left; 
  border: 1.5px solid #f3efef;
  z-index: 2; 
}

.card.moving {
    transition-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3); 
}

.player1 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.player2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 100;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
.container {
  width: 80%; 
  max-width: 600px; 
  aspect-ratio: 16 / 9; 
  background-color: white; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell {
  width: 100px; 
  height: 100px;
  border: 1px solid #ddd; 
}

button {
  margin-top: 200px; 
}

#buttonContainer {
  display: flex;
  justify-content: center; 
  align-items: center; 
  width: 150%; 
  flex-direction: row; 
  position: relative;
  top: -235px; 
  z-index: 2;
}

/* Estilos para el contenedor principal */
#lpContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: -360px; 
  left: 0px; 
  right: 100px; 
  height: 100px;
  border: 0.5px solid #2be2e9;
  padding: 0 1px;
  box-sizing: border-box;
  width: 700px; 
  margin: 0 auto; 
  position: relative;
  z-index: 1;
}


.lp-bar-container-left {
  width: 80%; 
  height: 25px; 
  background-color: #333;
  border-radius: 5px;
  flex: 1.1; 
  margin: 0 20px; 
  margin-top: -50px;
  z-index: 2;
}

.lp-bar-container-right {
  width: 55%; 
  height: 25px; 
  background-color: #333;
  border-radius: 5px;
  flex: 1; 
  margin: 0 160px; 
  margin-top: -50px;
  z-index: 2;
}

.lp-bar {
  width: 400%;
  height: 100%;
  background-color: #f00; 
  border-radius: 5px;
  z-index: 2;
}

.lp-bar-fill {
  height: 400%;
  height: 100%;
  background-color: #0f0; 
  border-radius: 5px;
  z-index: 2;
}

.image-container-left, .image-container-right {
  height: 90px; 
  width: auto; 
  padding: 0 0.3px; 
}

.image-container-left img, .image-container-right img {
  max-height: 118%; 
  max-width: 88%; 
  height: auto; 
  width: auto; 
}

#scoreText {
  position: absolute;
  top: 80px;
  left: 55%;
  transform: translateX(-50%);
  z-index: 2;
  color: white;
  font-size: 1rem;
}

#playerm1 {
  position: absolute;
  top: 50px;
  left: 25%;
  transform: translateX(-50%);
  z-index: 2;
  color: white;
  font-size: 1rem;
}

#playerm2 {
  position: absolute;
  top: 50px;
  left: 81%;
  transform: translateX(-50%);
  z-index: 2;
  color: white;
  font-size: 1rem;
}

.score-1 {
  position: absolute;
  top: 58%;
  left: 54.7%;
  transform: translate(-50%, -50%);
  font-size: 2rem; 
  color: rgb(0, 247, 255); 
}

#player2score {
  position: absolute;
  top: 58%;
  left: 67%;
  transform: translate(-50%, -50%);
  font-size: 2rem; 
  color: rgba(0, 255, 55, 0.911); 
}

#player1score {
  position: absolute;
  top: 58%;
  left: 43%;
  transform: translate(-50%, -50%);
  font-size: 2rem; 
  color: rgba(0, 255, 55, 0.911); 
}

